.calculator {
  width: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  font-family: Arial, sans-serif;
}

.display {
  padding: 10px;
  text-align: right;
  background-color: #f5f5f5;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

button {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

button:hover {
  background-color: #bbb;
}

button:active {
  background-color: #999;
}

